body {
  padding: 20px;

}
h2 {
  align-items: center;
}
.beers {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 40px;
  

  
}

.beer {
  list-style: none;
  
  
}

img {
  max-height: 120px;
}