body {
  padding: 20px;
  background-color: #263238;

}
h2 {
  align-items: center;
}
.beers {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
  

  
}

.beer {
  list-style: none;
  
  
}

img {
  max-height: 120px;
}

.BeerCard {
  max-width: 20%;
}
.BeerCard > img {
  padding-left: 20%;
}

